@import "src/common/colors";
@import "src/common/button";

.container {
    margin-top: 10px;
}

.add {
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.photo-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btn {
    @include button;
    width: 140px;
}

