@import 'src/common/colors';

.container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.photo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: $color-4;
}

.friend-name {
    margin-left: 10px;
    color: $white;
    font-size: 15px;
}