@import '../../../common/colors';
@import '../../../common/button';

.container {
    margin-top: 20px;
}

.container-item {
    margin-bottom: 10px;
}

.container-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.btn {
    @include button;
    &:disabled {
        background-color: $color-5;
        border: $color-5;
    }
}

.btn-un {
    @include button-unfollow;
    &:disabled {
        background-color: $color-5;
        border: $color-5;
    }
}

.container-info {
    width: 300px;
    margin-top: 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-user {
    font-size: 26px;
}

.info-status {
    font-size: 20px;
    font-style: italic;
}

.info-descr {
    font-size: 20px;
}

