@import 'src/common/colors';
@import 'src/common/button';
@import 'src/common/typography';

.container {
    width: 100%;
    height: 80px;
    border-bottom: $color-2 solid 1px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
}

.login {
    display: flex;
    justify-content: space-around;
}

.login-user {
    @include font-1-desktop;
    color: $white;
}

.logout {
    @include button;
    font-size: 16px;
    margin-left: 10px;
}

.login-item {
    display: flex;
    align-items: center;
    justify-content: center;
    @include button;
    color: $white;
}