@import 'src/common/colors';

.container {
    width: 125px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 15px;
    border: $color-2 solid 1px;
    font-family: 'Roboto', sans-serif;
}

.item {
    padding-bottom: 15px;
}

.item-settings {
    padding-top: 20px;
}

.link {
    text-decoration: none;
    color: $white;
    font-size: 20px;
    transition: 0.3s;
    padding: 4px;
}

.link:hover {
    color: $white;
    border: $color-2 solid 1px;
    border-radius: 6px;
    padding: 6px;
    text-shadow: -3px 3px 2px $black;
}

.active {
    transition: 0.3s;
    background-color: $color-2;
    border: $color-2 solid 1px;
    border-radius: 6px;
}