@import 'src/common/colors';

.container {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;
    color: $white;
}

.photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.text {
    margin-left: 40px;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

.like {
    margin-left: 40px;
    margin-right: 10px;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: $color-1;
    border: $color-2 solid 1px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
