@import 'src/common/colors';

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
}

.test {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  font-size: 20px;
}

.test-title {
  font-size: 30px;
}